<hr />
<table style="width:100%; padding: 10px;">
   <tr style="vertical-align: bottom">
      <td>
         <i>Developer</i>:&emsp;<strong><a href=<%=`${APPDATA.DEVELOPER.devUrl}` %> target="_blank" rel="noreferrer"
               title="Visit Profile" style="color: purple;"><%= `${APPDATA.DEVELOPER.devTeam}` %></a></strong>
         <br>
         📧 <a href=<%=`mailto:${APPDATA.DEVELOPER.devEmail}` %>><%= `${APPDATA.DEVELOPER.devEmail}` %></a>
         <br>
         📞 <%= `${APPDATA.DEVELOPER.devPhone}` %>
            <br>
            📯 <%= APPDATA.DEVELOPER.devAddr ? `${APPDATA.DEVELOPER.devAddr}` : null %>
               <br>
               🎲 <%= APPDATA.DEVELOPER.devLead ? ` ${APPDATA.DEVELOPER.devLead}` : null %>
      </td>
      <td>
         <i>Deployment</i>:&emsp;<a href=<%=`${APPDATA.WEBSITE}`%> target="_blank" title="Open in new window:
            <%=`${APPDATA.WEBSITE}`%>"><%= `${APPDATA.WEBSITE}` %>
         </a>
         <br>
         <i>Web-root</i>:&emsp;&emsp;<strong id="siteroot">show_site_root_here</strong>
         <br>
         <i>Folder</i>:&emsp;&emsp; &emsp;<%= APPDATA.ROOT %>
            <br>
            <i>Database</i>:&emsp;&emsp;<small>(<%= process.env.NODE_APP_DB1.split("//")[0]; %>)</small>
            <%= process.env.NODE_APP_DB1.split("//")[3]; %>/<%= process.env.NODE_APP_DB1.split("//")[4]; %>
                  </small>
      </td>
   </tr>
</table>
<script>
   document.getElementById("siteroot").innerHTML = window.location.hostname + " Port:" + (window.location.port ? window.location.port : "<%= `${APPDATA.PORT}`%>");
</script>
</body>

</html>